<a href="https://colab.research.google.com/github/peytonCooper/ibmProfessional/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: Create your Jupyter Notebook

#### Add your code below following the instructions given in the course

#Data Science Toolls and Ecosystesm

## Author:
Peyton Cooper

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**


*   List popular languages for data science
*   Make a table of data science tools
*   Create a markdown cell to list data sience libraries
*   Show maths to convert mins to hrs

Some of the popular languages that Data Scientists use are:

1.  Python
2.  R
3.  C++

Some of the commonly used libraries used by Data Scientists include:



1.   numpy
2.   pandas
3.   scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio          |
| Apache Zeppelin  |

###Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
(3*4)+5
#This si a simple arithmetic expression to multiply then add ints

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
min=200
hrs=min/60
print(hrs, "hours")

3.3333333333333335 hours

Copyright Â©2024 IBM Corporation. All rights reserved.